@import '../../_variables.scss';
@font-face {
  font-family: 'Vegur';
  src: url('../../fonts/vegur/Vegur-Regular.otf') format('opentype');
}

#roomMenu {
  padding: 2rem;
  padding-bottom: 0;

  select {
    display: block;
    margin: auto;
    font-family: monospace;
    padding: 0.5rem;
    border-radius: $borderRadius;
    width: 8rem;
    font-family: 'Vegur';
  }
}
