# Logs
logs
*.log
npm-debug.log*

# dependencies
/node_modules
dist
dist-ssr
*.local

# production
/config
/client/node_modules
.env
.prettierrc

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
