.header {
  display: block;
  margin: auto;
  background-color: rgb(87, 146, 87);
  color: rgb(242, 242, 242);
  font-size: 4rem;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
