@import '../../_variables.scss';
@font-face {
  font-family: 'Cabin Sketch';
  src: url('../../fonts/cabinSketch/CabinSketch-Regular.ttf') format('truetype');
}

h1 {
  display: block;
  margin: auto;
  background-color: $darkPrimary;
  color: $primaryWhite;
  font-size: 4rem;
  text-align: center;
  font-family: 'Cabin Sketch', sans-serif;
}

header {
  border-bottom: $secondaryBlack_opacity10 1px solid;
  box-shadow: 0 2px 8px 1px $shadow;
}
