.plants {
  height: 25%;
  width: 25%;
  background-color: white;
  font-size: 12px;
  padding: 3px;
  overflow: scroll;
  padding-top: 3px;
  border-radius: 10px;
}

.plant-img {
  height: auto;
  width: 90%;
}