.plants {
  height: 30%;
  width: 30%;
  background-color: white;
  font-size: 12px;
  padding: 5px;
  padding-top: 3px;
  border-radius: 10px;
  font-family: 'BP Replay';
  text-align: center;
}

.plant-img {
  height: auto;
  width: 70%;
}