@import '../../variables.scss';
@font-face {
  font-family: 'Happy Marker';
  src: url('../../fonts/happyMarkers/Happy markers.otf') format('opentype');
}
@font-face {
  font-family: 'BP Replay';
  src: url('../../fonts/BPreplay/BPreplay.otf') format('opentype');
}

.plant {
  height: 170px;
  width: 170px;
  background-color: $lightPrimary;
  padding: 5px;
  padding-top: 3px;
  border-radius: $borderRadius;
  text-align: center;
  box-shadow: 0 2px 8px 1px $shadow;
}

.plant-dropdown {
  height: 255px;
}

.plant-img {
  height: auto;
  width: 60%;
}

.plant > p.species {
  font-size: 14px;
  color: $secondaryBlack;
  font-family: 'Happy Marker', sans-serif;
}

.plant > p {
  font-size: 12px;
  color: $secondaryBlack_opacity10;
  font-family: 'BP Replay', sans-serif;
}