@import '../../_variables.scss';
#room {
  background-color: $primaryWhite_opacity10;
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 70%;
  border: 3px solid $darkPrimary;
  border-radius: $borderRadius;
  margin: auto;
  margin-right: 4rem;
  margin-top: 2rem;
  box-shadow: 0 2px 8px 1px $shadow;
  gap:0.6rem;
}
