@import '../../_variables.scss';

$roomPadding: 10px;

#room {
  padding: $roomPadding;
  background-color: $primaryWhite_opacity10;
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 70%;
  min-height: calc($plantCardHeight + $dropdownPlantCardHeight + $roomPadding * 2);
  max-height: calc($plantCardHeight * 2 + $dropdownPlantCardHeight + $roomPadding * 2);
  border: 3px solid $darkPrimary;
  border-radius: $borderRadius;
  margin: auto;
  margin-right: 4rem;
  margin-top: 2rem;
  box-shadow: 0 2px 8px 1px $shadow;
  flex-wrap: wrap;
  overflow: scroll;
}
