@import '../../_variables.scss';

.page {
  height: 100%;
  width: 100%;
/*  background-color: $lightPrimary;
  background-color: $midPrimary_opacity30; */
  background-color: none;
}

.buttonContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;

    button{
    border-radius: $borderRadius;
    font-family: 'Vegur';
    line-height: 2rem;
    box-shadow: $shadow;
    background-color: $primaryWhite;
    }
}